.component-clock-widget {
	font-weight: 300;
	min-height: 10em;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.component-clock-widget .clock {
	z-index: 2;
}

.component-clock-widget__background {
	position: absolute;
	left: -2em;
	right: -2em;
	height: 100%;
	background-size: 18em;
	background-repeat: no-repeat;
	background-position: center center;
}
