.component-clock-widget {
	font-weight: 300;
	min-height: 10em;
	display: flex;
	background-size: 40rem;
	background-repeat: no-repeat;
	background-position: center center;
	align-items: center;
	justify-content: center;
}
