.component-clock-widget {
	font-weight: 300;
	min-height: 10em;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.component-clock-widget .clock {
	z-index: 2;
}

.component-clock-widget__video {
    position: absolute;
    z-index: 0;
    left: 50%;
    height: auto;
    transform: translateX(-50%) scale(1.7);
}
