.component-widget {
	/*max-width: 20rem;*/
	/*margin: 0 0 0.5em;*/
	width: 100%;
	overflow: hidden;
	flex:1;

	display: flex;
	align-items: center;
	justify-content: center;
	animation: slideIn 1s;
}

@keyframes slideIn {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}