@import '../../../node_modules/react-day-picker/lib/style.css';

.component-calendar-widget {
	white-space: nowrap;
}

.calendar-widget__date {
	margin-bottom: 1rem;
}

.component-calendar-widget .calendar-widget__calendar {
	font-size: 1rem;
}

.DayPicker-Month {
	margin: 0;
	width: calc(7 * 2.5rem);
}

.component-calendar-widget .DayPicker-Caption,
.component-calendar-widget .DayPicker-NavBar {
	display: none;
}

.component-calendar-widget .DayPicker-Weekday abbr,
.component-calendar-widget .DayPicker-Day {
}

.component-calendar-widget .DayPicker-Day--today {
	color: white;
	font-weight: 700;
	text-shadow: 0 0 1em #1041FF,
	0 0 3em #1041FF,
	0 0 10em #1041FF,
	0 0 10em #1041FF,
	0 0 .4em #8BFDFE,
	.05em .1em .1em #147280;
	transform: scale(2);
	/*color: black;*/
	/*border-radius: 50%;*/
}

.component-calendar-widget .DayPicker-Day {

	/*width: 1.5em;*/
	/*height: 1.5em;*/
}

.DayPicker-wrapper {
	margin-bottom: 0;
	padding-bottom: 0;
}