.component-five-day-forecast {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
}

.forecast-day {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 2s;
	/*margin: 0.5em;*/
	/*max-width: 5em;*/
	/*width: 5em;*/
	overflow: hidden;
	opacity: 0.6;
	position: relative;
}

.forecast-day.active {
	opacity: 1;
}

.forecast-day__day,
.forecast-day__icon,
.forecast-day__temp {
	text-align: center;
	padding: 0.25em 0.5em;
}

.forecast-day__icon{
	font-size: 1.5em;
	padding: 0.1em 0.5em;
}

.forecast-day__day {
	font-size: 0.8em;
}

.forecast-day__temp {
	font-size: 0.8em;
	display: flex;
	align-content: center;
	justify-content: center;
}

.forecast-day__temp-min {
	color: aliceblue;
}

.active .forecast-day__temp-min {
	max-width: 8em;
}

.forecast-day__temp-max {
	color: lightgoldenrodyellow;
}

:root{
	--amt: 0.4;
	--opcAmt: 1 / 5;
}

.forecast-day:nth-child(1) {
	/*transform: scale(calc(var(--amt) * 5));*/
	opacity: calc(var(--opcAmt) * 5);
}
.forecast-day:nth-child(2) {
	/*transform: scale(calc(var(--amt) * 4));*/
	opacity: calc(var(--opcAmt) * 4);
}
.forecast-day:nth-child(3) {
	/*transform: scale(calc(var(--amt) * 3));*/
	opacity: calc(var(--opcAmt) * 3);
}
.forecast-day:nth-child(4) {
	/*transform: scale(calc(var(--amt) * 2));*/
	opacity: calc(var(--opcAmt) * 2);
}
.forecast-day:nth-child(5) {
	/*transform: scale(calc(var(--amt) * 1));*/
	opacity: calc(var(--opcAmt) * 1);
}

.forecast-day:nth-child(6) {
	/*transform: scale(calc(var(--amt) * 1));*/
	opacity: calc(var(--opcAmt) * 0.5);
}

/*.active-0 .forecast-day:nth-child(3),*/
/*.active-0 .forecast-day:nth-child(4),*/
/*.active-0 .forecast-day:nth-child(5),*/
/*.active-0 .forecast-day:nth-child(6),*/
/*.active-0 .forecast-day:nth-child(7){*/
	/*!*transform: scaleX(0);*!*/
	/*!*max-width: 0;*!*/
	/*opacity: 0.25;*/
/*}*/

/*.active-1 .forecast-day:nth-child(4),*/
/*.active-1 .forecast-day:nth-child(5),*/
/*.active-1 .forecast-day:nth-child(6),*/
/*.active-1 .forecast-day:nth-child(7){*/
	/*!*transform: scaleX(0);*!*/
	/*!*max-width: 0;*!*/
	/*opacity: 0.25;*/
/*}*/

/*.active-2 .forecast-day:nth-child(1),*/
/*.active-2 .forecast-day:nth-child(5),*/
/*.active-2 .forecast-day:nth-child(6),*/
/*.active-2 .forecast-day:nth-child(7){*/
	/*!*transform: scaleX(0);*!*/
	/*!*max-width: 0;*!*/
	/*opacity: 0.25;*/
/*}*/

/*.active-3 .forecast-day:nth-child(1),*/
/*.active-3 .forecast-day:nth-child(2),*/
/*.active-3 .forecast-day:nth-child(6),*/
/*.active-3 .forecast-day:nth-child(7){*/
	/*!*transform: scaleX(0);*!*/
	/*!*max-width: 0;*!*/
	/*opacity: 0.25;*/
/*}*/

/*.active-4 .forecast-day:nth-child(1),*/
/*.active-4 .forecast-day:nth-child(2),*/
/*.active-4 .forecast-day:nth-child(3),*/
/*.active-4 .forecast-day:nth-child(7){*/
	/*!*transform: scaleX(0);*!*/
	/*!*max-width: 0;*!*/
	/*opacity: 0.25;*/
/*}*/

/*.active-5 .forecast-day:nth-child(1),*/
/*.active-5 .forecast-day:nth-child(2),*/
/*.active-5 .forecast-day:nth-child(3),*/
/*.active-5 .forecast-day:nth-child(4){*/
	/*!*transform: scaleX(0);*!*/
	/*!*max-width: 0;*!*/
	/*opacity: 0.25;*/
/*}*/
