.component-five-day-forecast {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
}

.forecast-day {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 2s;
	/*margin: 0.5em;*/
	/*max-width: 5em;*/
	/*width: 5em;*/
	overflow: hidden;
	opacity: 0.6;
	position: relative;
}

.forecast-day.active {
	opacity: 1;
}

.forecast-day__day,
.forecast-day__icon,
.forecast-day__temp {
	text-align: center;
	padding: 0.25em 0.5em;
}

.forecast-day__icon{
	font-size: 1.5em;
	padding: 0.1em 0.5em;
}

.forecast-day__day {
	font-size: 0.8em;
}

.forecast-day__temp {
	font-size: 0.8em;
	display: flex;
	align-content: center;
	justify-content: center;
}

.forecast-day__temp-min {
	color: aliceblue;
}

.active .forecast-day__temp-min {
	max-width: 8em;
}

.forecast-day__temp-max {
	color: lightgoldenrodyellow;
}

:root{
	--amt: 1;
	--opcAmt: 1 / 5;
}

.forecast-day:nth-child(1) {
	opacity: 1;
	/*transform: scale(1);*/
}
.forecast-day:nth-child(2) {
	opacity: 0.9;
	/*transform: scale(0.975);*/
}
.forecast-day:nth-child(3) {
	opacity: 0.725;
	/*transform: scale(0.9125);*/
}
.forecast-day:nth-child(4) {
	opacity: 0.5625;
	/*transform: scale(0.85625);*/
}
.forecast-day:nth-child(5) {
	opacity: 0.4;
	/*transform: scale(0.8);*/
}
.forecast-day:nth-child(6) {
	opacity: 0.25;
	/*transform: scale(0.74);*/
}
