@import '../Five-day-forecast/styles.css';

.component-weather-widget {
	font-size: 0.7em;
}

.weather-city {
	text-align: center;
	padding-bottom: 0.5em;
	margin-bottom: 0.75em;
	position: relative;
}

.current-weather {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.current-weather {
		justify-content: space-around;
	}
}

.current-weather__icon {
}

.current-weather__temp {
}