@import '../Five-day-forecast/styles.css';

.component-weather-widget {
	font-size: 1.75rem;
}

.weather-city {
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 1em;
	position: relative;
}

.weather-city::after {
	content: '';
	right: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
	border-radius: 1em;
	height: 3px;
	box-shadow: 0 0 1em #1041FF,
	0 0 3em #1041FF,
	0 0 10em #1041FF,
	0 0 10em #1041FF,
	0 0 .4em #8BFDFE,
	.05em .1em .1em #147280;
}

.current-weather {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.current-weather {
		justify-content: space-around;
	}
}

.current-weather__icon {
}

.current-weather__temp {
}