@import './components/Calendar-widget/styles.css';
@import './components/Clock-widget/styles.css';
@import './components/Weather-widget/styles.css';
@import './components/Widget/styles.css';

.App {
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 2.5rem;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;
	padding-left: 1em;
	text-align: center;
}

@media (min-width: 800px) {
	.App {
		justify-content: center;
	}
}

h1 {
	font-size: 4em;
	margin: 0;
	line-height: 1;
}

h2 {
	font-size: 3em;
	margin: 0;
	line-height: 1;
}
