@import './components/Calendar-widget/styles.css';
@import './components/Clock-widget/styles.css';
@import './components/Weather-widget/styles.css';
@import './components/Widget/styles.css';

.App {
  text-align: center;
  min-height: 100vh;
  background: #000;
  color: #fff;
  font-size: 2rem;
  overflow: hidden;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*align-items: flex-start;*/
  /*justify-content: space-between;*/
}

.App {

}

@media (min-width: 800px) {
  .App {
    /*flex-direction: row;*/
  }
}

h1 {
  font-size: 4em;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 3em;
  margin: 0;
  line-height: 1;
}
