body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.neon {
  text-shadow: 0 0 1em #1041FF,
  0 0 3em #1041FF,
  0 0 10em #1041FF,
  0 0 10em #1041FF,
  0 0 .4em #8BFDFE,
  .05em .1em .1em #147280;
}
